{#dataview页面上展示聚类结果不容易，可按照聚类结果，将换乘站的图片替换为不同的颜色的小圈即可#}

{% extends '@LuxueWeb/Default/dataView.html.twig' %}

{% block cluster_link %}
    <button type="button" class="col-lg-2 btn btn-primary" onclick="">聚类结果展示</button>
{% endblock %}