{% extends '@LuxueWeb/layout.html.twig' %}

{% block private_css %}
{% endblock %}
{% block nav %}
    <li><a href="{{ url('luxue_web_default_dataget') }}">数据采集</a></li>
    <li><a href="{{ url('luxue_web_default_dataanalysis') }}">数据分析</a></li>
    <li><a href="{{ url('luxue_web_default_dataview') }}">结果可视化</a></li>
    <li class="active"><a href="{{ url('luxue_web_default_datapredict') }}">规划预测</a></li>
{% endblock %}

{% block main_form %}
{% endblock %}

{% block map_display_js %}
{% endblock %}

{% block layout_slogan %}

{% endblock %}